<form action="/products/edit/<%= product[0].id %>" method="post">
  <label for="name">Product Name</label>
  <input type="text" name="name" value="<%= product[0].name %>" />
  <label for="description">Product Description</label>
  <textarea name="description"><%= product[0].description %></textarea>
  <label for="price">Price</label>
  <input type="number" name="price" value="<%= product[0].price%>" />
  <label for="qty">Qty</label>
  <input type="number" name="qty" value="<%= product[0].qty%>" />
  <label for="img_url">Img</label>
  <input type="text" name="img_url" value="<%= product[0].img_url%>" />
  <select name="categoryId" id="productCategory">
    <% categories.map((category,index) => { %> <% if (product[0].category_id ===
    index + 1) {%>
    <option value="<%=index+1%>" selected><%=category.name%></option>
    <% } else {%>
    <option value="<%=index+1%>"><%=category.name%></option>
    <%}}) %>
  </select>
  <button type="submit">Submit Changes</button>
</form>
